* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	margin: auto;
	width: 100%;
	font-family: sans-serif;
}
.inner-container {
	max-width: 80em;
	margin: auto;
}

#canvas-title {
	position: absolute;
	height: 100%;
	width: 100%;
	text-align: center;
	color: rgb(250, 192, 0);
	z-index: 1000;
	display: flex;
	justify-content: center;
	align-items: center;
}

#canvas1 {
	z-index: -1;
	position: absolute;
	top: 0; left: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(45, 55, 70);
	/*background: radial-gradient(#7D7D7D, #414345);*/
}

#navbar {
	position: relative;
	height: 3em;
	background-color: rgb(40, 50, 70);
	border-bottom: 0.2em solid rgb(50, 150, 210);
}
#navbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#navbar ul > li {
	float: left;
}
#navbar ul > li a {
	color: white;
	display: block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}


.content-header--lg {
	text-align: center;
	padding-top: 2em;
	padding-bottom: 2em;
	color: rgb(40, 40, 40);
}


#about-content {
}

#projects-content {
	background-color: rgb(240, 240, 240);
}