
.Port-container {
  color: rgb(60,60,60);
  margin: auto;
  padding-bottom: 4em;
  max-width: 55em;
}
.Port-container p {
  font-size: 1.2em;
  text-align: left;
}
.Port-container li {
  font-size: 1.2em;
}
.Port-container a {
  text-decoration: none;
  color: rgb(20, 80, 220);
}

.Port-header--lg {
  padding-top: 1.5em;
  padding-bottom: 2em;
  font-size: 2.2em;
  margin: 0;
}
.Port-header--md {
  padding: 0;
  margin: 0;
}
.Port-header--sm {
  padding: 0;
  margin: 0;
}
.Port-header--list {
  font-weight: 0.5em;
  margin-top: 1em;
}

.Port--list {
  list-style: none;
  list-style-position: outside;
  margin: 0;
  padding: 0;
}

/*grid wrapper*/
@media screen and (min-width: 40em) {
  .About-header {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3em;
    margin-right: 2em;
    margin-left: 2em;
  }
  /*grid boxes*/
  .About-header > div {
    margin: 0;
    padding: 0;
  }
}
@media screen and (max-width: 40em) {
  .About-header {
    margin: 0;
    padding: 0;
    display: block;
    column-gap: 2em;
    margin-right: 2em;
    margin-left: 2em;
  }
  /*grid boxes*/
  .About-header > div {
    margin: 0;
    margin-left: 1em;
    margin-right: 1em;
    padding: 0;
  }
}

/* Skills chart on about page */
.About-skills-container {
  margin-right: 0em;
  margin-left: 0em;
}
.About-skills {
  width: 100%;
  margin-bottom: 0.5em;
  background-color: #41B853;
  float: left;
}
.About-skill {
  padding: 0;
  margin: 0;
  color: white;
}
.About-skill > p {
  font-size: 1em;
  text-align: right;
  padding: 0;
  margin: 0;
  margin-right: 0.5em;
}
.python {width: 0%; background-color: white; float: right;}
.html-css {width: 20%; background-color: white; float: right;}
.js {width: 0%; background-color: white; float: right;}
.php {width: 50%; background-color: white; float: right;}
.java {width: 70%; background-color: white; float: right;}



.About-chart-container {
  width: 80%;
  margin: auto;
  background-color: white;
  margin-top: 5em;
}

.About-pie-chart {
  width: 100%;
  height: 60vw;
  max-height: 30em;
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 40em) {
  .About-chart-list-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5%;
  }
}
@media screen and (max-width: 40em) {
  .About-chart-list-container {
    display: block;
    margin: 0;
  }
}

.About-chart-list {
  border-radius: 0.5em;
  color: #606060;
  padding-bottom: 4ch;
  margin-top: 2em;
}
.chart-list--blue {
  box-shadow: 0 0.25em 0.5em 0.25em rgba(54, 162, 235, 0.2);
}
.chart-list--red {
  box-shadow: 0 0.25em 0.5em 0.25em rgba(255, 99, 132, 0.2);
}
.chart-list--yellow {
  box-shadow: 0 0.25em 0.5em 0.25em rgba(255, 206, 86, 0.2);
}


.Projects-container {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 2em;
  row-gap: 2em;
  margin-left: 4em;
  margin-right: 4em;
}

@media screen and (min-width: 40em) {
  .project {
    text-align: left;
    display: grid;
    grid-template-columns: 12em 1fr;
    column-gap: 1em;
  }
}
@media screen and (max-width: 40em) {
  .project {
    margin-bottom: 1em;
    text-align: center;
    display: flex;
    flex-direction: column-reverse;
  }
  .project p {
    text-align: center;
  }
}

.project img {
  width: 12em;
}
.project p {
  padding-left: 0;
  margin-left: 0;
}
.project-title {
  margin: 0;
  padding: 0;
}


.Contact-container {
  color: #f5f5f5;
}

.contact-form-container {
  padding-left: 2em;
  padding-right: 2em;
  max-width: 40em;
  margin: auto;
  text-align: left;
}