
.Port-container {
  color: rgb(80,80,80);
  margin: auto;
  max-width: 1000px;
}
.Port-header--lg {
  padding-top: 2em;
  padding-bottom: 2em;
  font-size: 2.4em;
  margin: 0;
}
.Port-header--md {
  padding: 0;
  margin: 0;
}

/*grid wrapper*/
.About-header {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
/*grid boxes*/
.About-header > div {
  margin: 0;
  padding: 0;
}
.About-header p {
  margin-left: 1em;
  margin-right: 1em;
}

.About-icon {
  height: 4em;
  width: 4em;
  padding: 2em;
  background-image: url("./images/hexagon.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}


.Projects-container {
  background-color: #f0f0f0;
}