
.Port-container {
  color: rgb(80,80,80);
  margin: auto;
  max-width: 1000px;
}
.Port-container p {
  font-size: 1.2em;
  text-align: left;
  margin-right: 2ch;
  margin-left: 2ch;
}
.Port-container li {
  font-size: 1.2em;
}

.Port-header--lg {
  padding-top: 2em;
  padding-bottom: 2em;
  font-size: 2.2em;
  margin: 0;
}
.Port-header--md {
  padding: 0;
  margin: 0;
}
.Port-header--sm {
  padding: 0;
  margin: 0;
}
.Port-header--list {
  font-weight: 0.5em;
  margin-top: 1em;
}

.Port--list {
  list-style: none;
  list-style-position: outside;
  margin: 0;
  padding: 0;
}

/*grid wrapper*/
.About-header {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
/*grid boxes*/
.About-header > div {
  margin: 0;
  padding: 0;
}

/* Skills chart on about page */
.About-skills-container {
  margin-right: 1em;
  margin-left: 1em;
}
.About-skills-container > p {
  padding-left: 0;
  padding-bottom: 0.2em;
  margin-left: 0;
  margin-bottom: 0.2em;
}
.About-skills {
  width: 100%;
  background-color: #ddd;
}
.About-skill {
  padding: 0;
  color: white;
}
.About-skill > p {
  font-size: 1em;
  text-align: left;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.python {width: 90%; background-color: #4CAF50;}
.html-css {width: 80%; background-color: #4CAF50;}
.js {width: 70%; background-color: #4CAF50;}
.php {width: 40%; background-color: #4CAF50;}
.java {width: 30%; background-color: #4CAF50;}

.About-chart-container {
  margin-top: 3em;
  display: grid;
  grid-template-columns: 2fr 3fr 2fr;
}
.About-chart-container > div {
  min-height: 22em;
}
.About-pie-chart {
  padding: 0;
  margin: 0;
}


.Projects-container {
  background-color: #f0f0f0;
}