
.Port-container {
  color: rgb(80,80,80);
  margin: auto;
  max-width: 1000px;
}
.Port-header--lg {
  padding-top: 2em;
  padding-bottom: 2em;
  font-size: 2.2em;
  margin: 0;
}
.Port-header--md {
  padding: 0;
  margin: 0;
}
.Port-header--sm {
  padding: 0;
  margin: 0;
}
.Port-header--list {
  font-weight: 0.5em;
  margin-top: 1em;
}

.Port--list {
  list-style: none;
  list-style-position: outside;
  margin: 0;
  padding: 0;
}
.Port--list > li {
  font-size: 1.2em;
}

/*grid wrapper*/
.About-header {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
/*grid boxes*/
.About-header > div {
  margin: 0;
  padding: 0;
}
.About-header p {
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 0;
}

.About-icon {
  height: 4em;
  width: 4em;
  padding: 2em;
  background-image: url("./images/hexagon.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.About-chart-container {
  margin-top: 3em;
  display: grid;
  grid-template-columns: 2fr 3fr 2fr;
}
.About-chart-container > div {
  min-height: 22em;
}
.About-pie-chart {
  padding: 0;
  margin: 0;
}


.Projects-container {
  background-color: #f0f0f0;
}